// styles/element/index.scss
/* 只需要重写你需要的即可 */
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #2073eb,
    ),
    "success": (
      "base": #3eaf7c,
    ),
  )
);
// :root {
//   --el-color-primary: #2073eb;
//   --el-color-success: #3eaf7c;
// }
// 2月7号 web  主题色
$theme: #2073eb;
// vue色  副色
$vcolor: #3eaf7c;
// 侧边栏背景色
$asideBoxColor: #e2ebff;
// 侧边栏宽度
$asideWidth: 250px;
// 基础背景色
$baseBgColor: #ebf4ff;
// 基础背景色
$baseColor: #46484d;
// element颜色
$el-success: #67c23a;
$el-primary: #409eff;
$el-warning: #e6a23c;
$el-danger: #f56c6c;
$el-info: #909399;
// 引用标记颜色
$cite-color: #555666;
$cite-background: #eef0f4;
$cite-border: #dddfe4;
.el-container {
  height: 100%;
}

// 引用标记
.cite {
  padding: 5px;
  margin: 0 5px;
  border-left: 4px solid $cite-border;
  border-right: 4px solid $cite-border;
  color: $cite-color;
  background: $cite-background;
  font-size: 16px;
}
// 错误/坑标题
.error {
  display: block;
  margin: 8px 0 12px;
  color: $el-danger;
  font-size: 24px;
}
// 成功/解决方法标题
.success {
  display: block;
  margin: 8px 0 12px;
  color: $el-success;
  font-size: 24px;
}
