// styles/element/index.scss
/* 只需要重写你需要的即可 */
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #2073eb,
    ),
    "success": (
      "base": #3eaf7c,
    ),
  )
);

// 2月7号 web  主题色
$theme: #2073eb;
// vue色  副色
$vcolor: #3eaf7c;
// 侧边栏背景色
$asideBoxColor:#eef5ff;
// 侧边栏宽度
$asideWidth:250px;
